%h1 All polls

- unless @polls.any?
  %p.bg-info.flash No polls.

%ul.clearfix.polls
  - @polls.each do |poll|
    %li.col-md-6.polls-poll
      .polls-poll-detail
        %h2
          =link_to poll.title
          =link_to "Manage", poll, class: "label label-default"
          = link_to 'Add question', new_poll_question_path(poll), class: "btn btn-default"

%p= link_to 'New Poll', new_poll_path, class: "btn btn-primary"
